/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #625B9E;
    margin-top: auto;
    margin-bottom:20px;
    border-radius: 25px;
  }

.footer p {
    font-family: Pro-Extra-Bold;
  }