/* Style the top navigation bar */
.topnav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  overflow: hidden;
  background-color: #625B9E;
  border-radius: 25px;
  margin-top: 20px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  color: #fff1c4;
  text-align: center;
  text-decoration: none;
  padding: 14px;
}

.topnav a:hover {
background-color: #40416F;
border-radius: 25px;
}